<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <header class="brand-name">
      
    </header>
    
    <div *ngIf ="!invoiceService.showInvoicePrompts">
      <app-invoice-templates (templateSelected)="onTemplateSelected($event)"></app-invoice-templates> 
    </div>
    <div *ngIf="invoiceService.showInvoicePrompts">
      <app-invoice-prompts [selectedTemplateId]="selectedTemplateId"></app-invoice-prompts>
    </div>
   
    
  
</body>
</html>